<section class="page-header">
    <h1>Cadastro de Habilidade</h1>
</section>
<ol class="breadcrumb">
    <li><a href="">Home</a></li>
    <li><a href="/habilidades">Habilidades</a></li>
    <li class="active">Cadastro de Habilidade</li>
</ol>
<div class="alert alert-danger error" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span id="error"></span>
</div>
<fieldset>
    <form id="form_habilidade">
        <div class="form-group">
            <label for="descrição">Disciplina</label>
            <select class="form-control" name="Disciplina" id="Disciplina" required="required">
            </select>
        </div>
        <div class="form-group">
            <label for="descrição">Grande Tema</label>
            <select class="form-control" name="GrandeTema" id="GrandeTema" required="required" disabled="disabled">
            </select>
        </div>
        <div class="form-group">
            <label for="descrição">Objeto de Conhecimento</label>
            <select class="form-control" name="ObjetoConhecimento" id="ObjetoConhecimento" required="required" disabled="disabled">
            </select>
        </div>

        <div class="form-group">
            <label for="descrição">Competência</label>
            <select class="form-control" name="competencia" id="competencia" required="required" disabled="disabled">
                <option value="">Selecionar uma opção</option>
                <option value="OBSERVAR">Observar</option>
                <option value="COMPREENDER">Compreender</option>
                <option value="REALIZAR">Realizar</option>
            </select>
        </div>

        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea rows="5" class="form-control" id="descricao" name="descricao" placeholder="Descrição" required="required"></textarea>
    </div>
    <button type="submit" class="btn btn-success">
    <i class="glyphicon glyphicon-ok"></i> Salvar</button>
  </form>
</fieldset>

<script type="text/javascript" src="../../app/cadastro_habilidade.js"></script>
