<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CEFET</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/disciplinas">Disciplinas</a></li>
        <li><a href="/grandes_temas">Grandes Temas</a></li>
        <li><a href="/objetos_conhecimento">Objetos de Conhecimento</a></li>
        <li><a href="/habilidades">Habilidades</a></li>
        <li><a href="/questoes">Questões</a></li>
        <li><a href="/gerar_teste">Gerador de Testes</a></li>
      </ul>
    </div>
  </div>
</nav>