.divMessageBox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
    z-index: 100000;
}

.MessageBoxContainer {
    top: 35%;
    color: #fff;
    position: relative;
    width: 100%;
    background-color: #232323;
    background-color: rgba(0,0,0,.8);
    padding: 20px;
}

.MessageBoxMiddle {
    position: relative;
    left: 20%;
    width: 60%;
}

.MessageBoxMiddle .MsgTitle {
    letter-spacing: -1px;
    font-size: 24px;
    font-weight: 300;
}

.MessageBoxMiddle .pText {
    font-size: 13px;
}

.MessageBoxButtonSection {
    width: 100%;
    height: 30px;
}

.MessageBoxButtonSection button {
    float: right;
    margin-right: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 700;
}

.MessageBoxMiddle .MsgTitle {
    letter-spacing: -1px;
    font-size: 24px;
    font-weight: 300;
}