<section class="page-header">
	<h1>Disciplinas</h1>
</section>
<ol class="breadcrumb">
  <li><a href="">Home</a></li>
  <li class="active">Disciplinas</li>
</ol>
<div class="alert alert-danger error" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span id="error"></span>
</div>
<div class="alert alert-success success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span id="success"></span>
</div>
<div class="form-group">
	<a href="/cadastro_disciplina" class="btn btn-primary" id="btn_adicionar_disciplina">
		<i class="glyphicon glyphicon-plus"></i> Adicionar Disciplina
	</a>
</div>
<div id="disciplinas">
	
</div>




<script type="text/javascript" src="../../app/disciplinas.js"></script>